{
  "extends": "react-app",
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "max-statements": ["error", 8],
    "max-depth": ["error", 4],
    "max-params": ["error", 3]
  }
}
