.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background: radial-gradient(circle, #36383F, #202125);
  color: rgb(181, 181, 181);
}

.form__buttons {
  padding-left: 90px;
  padding-top: 10px;
}

.field {
  margin: 0;
}

.field__label {
  width: 90px;
  display: inline-block;
}

.field-label {
  text-align: right;
  width: 75px;
  display: inline-block;
}

.field-input {
  border: 1px solid #202125;
  border-radius: 2px;
  padding: 3px 10px;
  font-size: 16px;
}


.field__error {
  display: block;
  height: 13px;
  padding: 2px 0 5px 90px;
  padding-bottom: 5px;
  padding-left: 90px;
}

.field-error {
  color: red;
  font-size: 13px;
  line-height: 13px;
}

.button {
  border-radius: 5px;
  border: 1px solid #202125;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
}
