.root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
