.root {
    width: 100%;
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
}

.сontainer{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start
}