version: 2
jobs:
  build:
    working_directory: ~/app
    docker:
      - image: cypress/base:8
        environment:
          TERM: xterm

    steps:
      - checkout

      - restore_cache:
          keys:
              - yarn-packages-v2-{{ checksum "yarn.lock" }}
              - v2-deps-{{ .Branch }}
              - v2-deps

      - run:
          name: Install Dependencies
          command: yarn install

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-v2-{{ checksum "yarn.lock" }}
          paths:
              - ~/.npm
              - ~/.cache

      - run:
          name: Build app
          command: yarn build

      - run:
          name: Unit tests
          command: yarn test

      - run:
          name: Start background app
          command: yarn start
          background: true

      - run:
          name: Cypress tests
          command: yarn run cypress:run

      - run: echo $CI
      - run: echo $CI_PULL_REQUEST
      - run: echo $CIRCLE_BRANCH
      - run: echo $CIRCLE_BUILD_NUM
      - run: echo $CIRCLE_BUILD_URL
      - run: echo $CIRCLE_COMPARE_URL
      - run: echo $CIRCLE_INTERNAL_TASK_DATA
      - run: echo $CIRCLE_JOB
      - run: echo $CIRCLE_PR_NUMBER
      - run: echo $CIRCLE_PR_REPONAME
      - run: echo $CIRCLE_PR_USERNAME
      - run: echo $CIRCLE_PROJECT_REPONAME
      - run: echo $CIRCLE_PROJECT_USERNAME
      - run: echo $CIRCLE_REPOSITORY_URL
      - run: echo $CIRCLE_SHA1
      - run: echo $CIRCLE_TAG
      - run: echo $CIRCLE_USERNAME
      - run: echo $CIRCLE_WORKFLOW_ID
      - run: echo $CIRCLECI
      - run: echo $HOME
      - run: echo $CIRCLE_PULL_REQUEST
      - run: echo $CIRCLE_PR_USERNAME
      - run:
          name: Set PR number
          command: |
              echo 'export CIRCLE_PR_NUMBER="${CIRCLE_PR_NUMBER:-${CIRCLE_PULL_REQUEST##*/}}"' >> $BASH_ENV
              source $BASH_ENV
              echo $CIRCLE_PR_NUMBER
      - run:
          name: Deploy
          command: |
              ssh -o StrictHostKeyChecking=no root@51.15.83.43 'rm -rf /var/www/sep-pr-$CIRCLE_PR_NUMBER'
              scp -r ~/app/build root@51.15.83.43:/var/www/sep-pr-$CIRCLE_PR_NUMBER
              ssh root@51.15.83.43 "/var/www/setup-server/index.js --address sep-pr-$CIRCLE_PR_NUMBER"
