import React, { PureComponent } from 'react';
import styles from './{{pascalCase name}}.module.css';

class {{pascalCase name}} extends PureComponent {
  render() {
    return <div className={styles.root}>{{pascalCase name}}</div>;
  }
}

export default {{pascalCase name}};
